.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  place-items: center;
  gap: 15px;
}

.frame {
  padding: 0;
  border: none;
  background: none;
}

.frame:hover {
  opacity: 80%;
  transform: translateY(-2px);
}

.card {
  margin: auto;
  background-color: darkslategray;
}

.image {
  max-width: 400px;
  max-height: 600px;
  object-fit: contain;
}

.text {
  text-align: center;
  font-family: "Matemasie", sans-serif;
  background-color: darkslategray;
  padding: 10px;
  font-size: 18px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.audio,
.help {
  padding: 10px 20px;
  background-color: sandybrown;
  margin: 10px;
  border: darkslategray solid;
  border-radius: 15px;
}

.audio:hover,
.help:hover {
  background-color: crimson;
}

@media (min-width: 2500px) {
  .image {
    max-width: 560px;
    max-height: 800px;
    object-fit: contain;
  }
  .text {
    font-size: 22px;
  }
}

@media (max-width: 1800px) {
  .image {
    max-width: 400px;
    max-height: 600px;
    object-fit: contain;
  }
  .text {
    font-size: 18px;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    place-items: center;
    gap: 15px;
  }
}

@media (max-width: 800px) {
  .image {
    max-width: 180px;
    max-height: 300px;
    object-fit: contain;
  }
  .text {
    font-size: 12px;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    place-items: center;
    gap: 10px;
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
